.main{
    border-radius: 35px 0px 35px 10px;
    background: linear-gradient(blue,red,green,yellow);
    padding: 20px;
    font-size: 20px;
    color: white;
    width: 450px;   
    float: left; 
    margin: 50px;
    box-shadow: 5px 3px 5px grey;
    display: none;
}
.default{
    border-radius: 25px;
    background: radial-gradient(red,yellow,green);
    padding: 20px;
    font-size: 20px;
    color: blue;
    width: 450px;   
    float: left;
    margin: 50px;
    box-shadow: 5px 3px 10px grey;
    display: none;
} 
.slice{
    clear: both;
}

