<!--The content below is only a placeholder and can be replaced.-->
<div id="main"style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<!--<app-emp></app-emp>-->
<!--<app-string></app-string>-->
<!--<app-object-arry></app-object-arry>-->
<!--<app-binding></app-binding>-->
<!--<app-bind-twoway></app-bind-twoway>-->
<!--<app-event-bind></app-event-bind>-->
<!--<app-dynamic-event></app-dynamic-event>-->
<!--<app-pipe></app-pipe>-->
<!--<app-custompipe></app-custompipe>-->
<!--<app-parameterspipe></app-parameterspipe>-->
<!--<app-rangepipe></app-rangepipe>-->
<!--<app-templatedriven></app-templatedriven>-->
<!--<app-reactiveform></app-reactiveform>-->
<!--<app-service></app-service>-->
<app-mainspa></app-mainspa>
<!--<app-parent></app-parent>-->